body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #367c39;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 45%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
}

.project h2 {
    margin-bottom: 10px;
    color: #4CAF50;
}

.project p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.profile-pic {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px; /* Default width */
    height: 100px; /* Default height */
    border-radius: 50%;
    border: 3px solid #367c39;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media query for screens with a maximum width of 768px (phones and small tablets) */
@media screen and (max-width: 768px) {
    .profile-pic {
        width: 70px;
        height: 70px;
        top: 0;
        right: 0;
        margin-top: 20px; /* Adjust this value as needed */
        margin-right: 20px; /* Adjust this value as needed */
        float: right;
    }
}

/* Media query for screens with a minimum width of 769px (larger screens) */
@media screen and (min-width: 769px) {
    .profile-pic {
        /* No need to redefine width and height here */
        top: 20px;
        right: 20px;
    }
}


/* Remove underline from all links */
a {
    text-decoration: none;
}

